 <h2><span>List Of Books</span><span style="float:right;"><input style="font-size:18px;" type="text" placeholder="Search" ng-model="searchedBook"></span></h2>
 
        <table class="table table-bordered table-hover table-striped">
            <thead class="bgHead" >
                <th>author</th>
                <th>categories</th>
                <th>title</th>
                 <th>Publisher</th>
                <th class="text-center">Actions <a ng-click="removeAllBook( book )" class="btn btn-danger btn-xs">Remove All</a></th>
            </thead>

            <tr ng-repeat="book in books | filter:searchedBook"">
                <td>{{ book.author }}</td>
                <td>{{ book.categories }}</td>
                <td>{{ book.title }}</td>
                 <td>{{ book.publisher }}</td>
                <td class="text-center"><button ng-click="editBook( book )" class="glyphicon glyphicon-pencil"></button>  <button ng-click="removeBook( book.url )" class="glyphicon glyphicon-remove"></button></td>
            </tr>

        </table>
